#pokeArray,
#pokemonInfo {
  font-family: "Handjet", cursive;
}
.hideSpinner {
  display: none !important;
}
p,
h1,
h5 {
  margin: 0 !important;
  text-align: center;
}
.badge {
  font-size: 1.1rem;
}

p {
  font-size: 1.6rem;
  font-weight: bold;
}

h5 {
  font-size: 1.9rem;
  font-weight: bolder;
}
.imgContainer {
  display: flex;
  justify-content: center;
}
.pokemon {
  border-radius: 40px;
  padding: 30px;
  cursor: pointer;
}
img {
  height: 200px;
  width: 200px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #paginationPC {
    display: none;
  }
  #paginationMobile {
    display: block;
  }

  img {
    height: 200px;
    width: 200px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #paginationMobile {
    display: block;
  }
  #paginationPC {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #paginationPC {
    display: none;
  }
  #paginationMobile {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #paginationMobile {
    display: none;
  }
  #paginationPC {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #paginationMobile {
    display: none;
  }


  #paginationPC {
    display: block;
  }

  #pokeArray,
  #pokemonInfo {
    font-family: "Handjet", cursive;
  }

  #leftInfo {
    height: 400px;
    display: flex;
    align-items: center;
  }

  p,
  h1,
  h5 {
    margin: 0 !important;
    text-align: center;
  }

  .badge {
    font-size: 1.1rem;
  }

  p {
    font-size: 1.6rem;
    font-weight: bold;
  }

  h5 {
    font-size: 1.9rem;
    font-weight: bolder;
  }

  .hideSpinner {
    display: none !important;
  }

  #pokemonInfo {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .imgContainer {
    display: flex;
    justify-content: center;
  }

  .pokemon {
    border-radius: 40px;
    padding: 30px;
    cursor: pointer;
  }

  img {
    height: 200px;
    width: 200px;
  }

  #modalPokeInfo h1 {
    color: black !important;
  }
}
